.App {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    min-width: 150px;
    box-shadow: 0 4px 5px 0 #00000026;
    position: relative;
    z-index: 10;
  }
  #dropdown {
    left: 0;
    visibility: hidden;
    position: absolute;
  }
  .dropdownLabel {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
  .dropdownLabel:hover {
    cursor: pointer;
  }
  .content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
    box-shadow: 0 4px 5px 0 #00000026;
  }
  
  #dropdown:checked + label + div.content {
    display: block;
    border-top: 1px solid #00000026;
  }
  .caretIcon {
    transition: transform 250ms ease-out;
  }
  #dropdown:checked + label > .caretIcon {
    transform: rotate(-180deg);
  }
  
  .content ul {
    list-style-type: none;
    padding: 12px;
    margin: 0;
  }
  .content ul li {
    margin: 0.8rem 0;
  }
  
  .list:hover{
    color: aquamarine;
    border: 1ch;
  }